* {
  box-sizing: border-box;
}

ul {
  padding-inline-start: 0px;
}

li {
  list-style-type: none;
  padding-bottom: 1em;
}

.navbar {
  height: 75px;
  background-color: #CCE6F4;
  margin-bottom: 10px;
}

.navbar > h1 {
  position: relative;
  left: 50px;
  top: 18px;
  font-size: 26px;
}

.container  {
  margin: 0 auto;
  max-width: 1600px;
  overflow: hidden;
  padding: 1rem;
  text-align: center;
}

.sidebar {
  float: left;
  padding-left: 10px;
  width: 250px;
  height: 100vh;
}

.ais-RefinementList-labelText, span.ais-NumericMenu-labelText{
  padding-left: 5px;
}

.ais-RefinementList-count {
  background-color: #efefef;
  padding: 0px 4px 0px 4px;
}

button {
  height: 50px;
  color: #1E70BF;
  border-radius: 5px;
  background-color: #fff;
}

input.ais-SearchBox-input {
  height: 50px;
  width: 500px;
  border-radius: 5px;
  padding-left: 5px;
}

.ais-SearchBox-input::placeholder {
  padding-left: 5px;
}

.ais-SearchBox-submit {
 display: none;
}

.ais-SearchBox-reset {
 display: none;
}

.ais-Hits-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
}

.ais-Hits-item {
  padding: 10px;
}

.ais-Pagination-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
}

.ais-Pagination-item  {
  border: 2px solid #efefef;
  background-color: #fff;
  border-radius: 3px;
  margin: 0px 2px;
  padding: 1px 5px;
}

.ui.image {
  max-height: 400px;
}

.footer {
  height: 50px;
  margin-top: 10px;
  border-top: 1px solid #efefef;
}

.footer > p {
  padding-top: 15px;
  text-align: center;
}

.footer > a {
  color: #1E70BF
}

